@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1120;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}
